body 
{
  max-width: 65ch;
  margin: auto;
  padding: 1rem;
  line-height: 1.5;
  font-family: 'Outfit', Arial, sans-serif;
  font-size: 1.2em;
}

h1
{
  text-align: center;
}

h1, h2
{
  color: darkgreen;
}

a
{
  text-decoration: none;
}

a:visited
{
  color: darkslateblue;
}

a:hover
{
  color: indianred;
}

ol
{
  background-color: lavender;
}

